body{
    background: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:600px;
}

.navbar{
    display: flex;
    flex-direction:row; 
    background-color: black;
    color:white;
    justify-content: space-between;
    margin: -8px;
}
[src="./assets/white-logo.png"]:hover{
    cursor: pointer;
}
.navbar img{
    margin:10px;
    margin-left: 50px;
    height:40px;
}
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Oswald', sans-serif;
}
.list li{
    margin-top:5px;
    margin: 0px 30px;
}
.list li:hover{
    cursor: pointer;
    color: gray;
}
.grow-list{
    margin-left: -718px;
}
.button-small{
    margin-top:11px;
    padding: 9px 22px;
    margin-right: 50px;
    background-color: blueviolet;
    color:white;
    border: none;
    border-radius: 8px;
}
.button-small:hover{
    color: black;
    cursor: pointer;
    background-color: #fff;
}
.hero{
    text-align:center;
    margin-top: 130px;
}
.hero-heading{
    color:white;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.hero-description{
    color:white;
    font-size:20px;
    margin-top: -30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.button-large{
    background-color: blueviolet;
    color:white;
    border:none;
    border-radius:15px;
    padding:20px 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.button-large:hover{
    color: black;
    cursor: pointer;
    background-color: #fff;
}